*,
*:before,
*:after {
    box-sizing: border-box;

}

#body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0 50px;
    /*    display: flex;*/
}

.top-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-line a {
    padding-left: 10px;
    text-decoration: none;
    color: #000;
}

.left-top {
    margin: 16px 0;
    display: flex;

}

.right-top {
    margin: 16px 0;
    display: flex;
}

.currency {
    list-style: none;
}

/*
.currency:hover {
    color: yellow;
}
*/

.order {
    list-style: none;
}

.bag {
    list-style: none;
}

.second-line {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}

.second-line img {
    /*    height: 100px;*/
}

#custom-search-input {
    height: 30%;
    width: 45%;
    margin: 35px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/*-------- LOGiN ---------*/

.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
    margin-bottom: 0 !important;
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

.navbar .navbar-brand b {
    font-weight: bold;
    color: #33cabb;
}

.navbar .form-inline {
    display: inline-block;
}

.navbar .nav li {
    position: relative;
}

.navbar .nav li a {
    color: #888;
}



.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
    color: #fff;
    outline: none;
    background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.open > a {
    background: transparent !important;
}

.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 6px;
}

.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}

.navbar .navbar-form {
    border: none;
}

.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.navbar .dropdown-menu.form-wrapper a {
    color: #33cabb;
    padding: 0 !important;
}

.navbar .dropdown-menu.form-wrapper a:hover {
    text-decoration: underline;
}

.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.navbar .social-btn .btn-primary {
    background: #507cc0;
}

.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}

.navbar .social-btn .btn-info {
    background: #64ccf1;
}

.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}

.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

.navbar .form-wrapper .form-footer a:hover {
    text-decoration: underline;
}

.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}

.navbar .checkbox-inline {
    font-size: 13px;
}

.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary,
    .navbar .nav .btn-primary:active {
        display: block;
    }
}


.sign:before,
.sign:after {
    content: " | "
}

.user a {
    padding: 0 3px;
}


.nav {
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.menu li {
    padding: 0 5px;
}

.menu a:hover,
a:visited,
a:link,
a:active {
    color: black;
    text-decoration: none;
}


.owl-carousel {
    background-color: #e4e4e4;
    width: 100%;
}

#owl-demo .items img {
    display: block;
    width: 670px;
    height: 355px;
    margin-left: auto;
    margin-right: auto;
}

.our {
    margin-top: 10px;
    text-align: center;
    color: lightgrey;
    font-weight: 600;

}

.recommends {
    display: flex;
    justify-content: space-around;
}

.recommed-item {
    height: 260px;
    width: 200px;
    /*    Preview*/
    border: 2px solid darkgrey;
}

.price {
    color: red;
}

#inspiration {
    min-height: 500px;
    background-color: lightgray;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-blend-mode: overlay;

}

.insp {
    text-align: left;
    padding-top: 100px;
}
